body {
    margin: 0 auto;
    background: url("http://www.fg-a.com/wallpapers/geo-shapes-black-1280.jpg") center repeat-y;
    color: white;
    padding: 0;
    font-family: Helvetica, serif;
    background-size: cover;


}

html {
    height: 100%;

}

#container {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    clear: both;
    position: relative;

}

.centerbox {
    width: 90%;
    margin: 0 auto;
}
.header {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.site {
    float: left;
}
.nav {
    float: right;
    border: 1px solid lightpink;
    padding-right: 20px;
}
.nav a {
    color: lightpink;
    padding-left: 20px;
    text-decoration: none;

}

.rightsection {
    padding-top: 20px;
    width: 50%;
    float: right;
    text-decoration: none;
    color: white;

}
.leftsection {
    width: 50%;
    padding-top: 100px;
    align-content: center;
    text-align: center;
    padding-left: 350px;
    position: absolute;



}
#port {
   font-size: 50px;
    margin-top: 30px;

}



h1 {
    font-size: 80px;
    margin: 0;
}
h2 {
    color: lightpink;
    margin: 0;
    font-size: 60px;

}

p {
    font-size: 20px;
    margin: 0;
    font-family: Arial;
}

.foot {
    width: 100%;
    background-color: black;
    opacity: .7;
    padding-top: 15px;
    position: absolute;
    bottom: 0;

}


.Lain {
    float: right;
    bottom: 20px;
    right: 20px;
    position: fixed;

}


hr {
    background-color: #ffb6c1;
    color: #ffb6c1;
    border: solid 2px #ffb6c1;
    height: 1px;
    width: 1000px;
}
#amtext {
    color: white;
    font-family: Arial;
    margin: 100px;
    font-size: 20px;
    text-align: center;



}
.boxed {
    border: 1px solid lightpink;
    margin: 100px;

}

.site {
    margin-top:40px;

}
.sun {
    bottom: 50px;
}

.color { color: lightpink;
}
.format {
    font-size: 100px;
    color: white;
    text-decoration: blink;
    text-align: center;
    align: center;
    margin-top: 30px;
}
.logo {
    float: left;
}

.form {
    align: center;
    text-align: center;
    padding-left: 10px;
    color: lightpink;
}

.Head2 {
    margin-top: 100px;
}
xbox {
    padding-left: 50px;
    padding-right: 50px;
}